
body {
    background-color: red;
    background-image: url(fondoRoom.gif);
    background-size: 200% 100%;
    color:#B3B6B7;
}
.button-yellow {
    outline: 0;
    position: relative;
    left: 1%;

    display: inline-block;
    padding: 2px 5px;
    font-size: 15px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFF00;
    background: #FFFF00;
    color: #000;
    font-weight: 600;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.button-yellow:hover {
    background-color: #FFFF00;
    color: #000;
    box-shadow: 0 0 5px #FFFF00,
                0 0 20px rgb(255 255 0 / 0.8),
                0 0 35px rgb(255 255 0 / 0.7),
                0 0 50px rgb(255 255 0 / 0.6);
    border-color: #FFF;
}